<div class="tbag" id="ule">
    <br> <h4><u>Important!!</u></h4>
    <em><h5>*You can order your meal from here <strong>without</strong> even having an account.</h5>
    <h5>*But quick orders are <strong>only</strong> taken from customers around Nairobi's CBD area.</h5>
        <h5>*It's <strong>advisable</strong> to create an account for effective service provision.</h5><h5>*Paybill through Mpesa <strong>after</strong> delivery.</h5></em>
<div class="container-fluid" id="bagga"><h4>Order your meal.</h4></div>
    
<form>
   <div class='row'>
        <label class="col-xs-3">Select Meal</label>
       <select class="form-control" required placeholder="Select meal" name="Select meal" >
           
<option>Select Meal</option>
<option>Asian Apple Slaw</option>
<option>Greek Pita Nachos</option>
<option>Spicy Carrot </option>
<option>Tomato-Peach</option>
<option>Creole Green Beans</option>
<option>Herb Salad </option>
<option>Squash &Orzo</option>
<option>Masala salad</option>
<option>Fried Chicken</option>
<option>Fried Beef </option>  
<option>Fried Pork </option>
<option>Boiled Chicken</option>
<option>Boiled Pork </option>
<option>Boiled Pork </option>
<option>Ugali</option>
<option>Rice</option>
<option>Chapati</option>  
<option>Beans</option>
<option>Green Grams</option>
<option>Meat stew</option>
<option>Pepperoni</option>			
<option>Mushrooms</option>
<option>Burger</option>
       </select>
    </div>

   <div class='row'>
        <label class="col-xs-6">Select Another Meal</label>
       <select class="form-control" ng-model="myInput" required placeholder="select meal" name="a_meal" >
           
<option>Optional</option>
<option>Asian Apple Slaw</option>
<option>Greek Pita Nachos</option>
<option>Spicy Carrot </option>
<option>Tomato-Peach</option>
<option>Creole Green Beans</option>
<option>Herb Salad </option>
<option>Squash & Orzo</option>
<option>Masala salad</option>
<option>Fried Chicken</option>
<option>Fried Beef </option>  
<option>Fried Pork </option>
<option>Boiled Chicken</option>
<option>Boiled Pork </option>
<option>Boiled Pork </option>
<option>Ugali</option>
<option>Rice</option>
<option>Chapati</option>  
<option>Beans</option>
<option>Green Grams</option>
<option>Meat stew</option>
<option>Pepperoni</option>			
<option>Mushrooms</option>
<option>Burger</option>
       </select>
    </div>
   

    <div class='row'>
        <label class="col-xs-3">Select Drink</label>
       <select class="form-control" ng-model="myInput" required placeholder="Select drink" name="drink" >
    
       <option>Select Drink</option>       
       <option>Monster</option>
       <option>Yogurt 500ml</option>
	    <option>Yogurt 250ml</option>
       <option>Sprite</option>
       <option>Afya Multivitamin</option>
       <option>Afya Passion</option>
	   <option>Afya Mango</option>
	   <option>Afya Citrus </option>
	   <option>Mango Juice</option>
	   <option>Passion Juice</option>
	   <option>Citrus Juice</option>
	   <option>Pineapple Juice</option>
	   <option>Sprite </option>
	   <option>Lemon Juice</option>
       </select>
    </div>

  <div class="row">
     <label class="col-xs-6">Full Name</label>
        <input type="text" class="form-control" ng-model="myInput" required placeholder="username">
    </div>
    <div class='row'>
     <label class="col-xs-6"> Phone number</label>
     <input type="number" class="form-control" ng-model="myInput" required placeholder="Phone No.">
   </div>
 
  <div class='row'>
     <label class="col-xs-6"> Place</label>
     <input type="text" class="form-control" ng-model="myInput" required placeholder="Street Name eg. Moi Avenue">
   </div>
    <h4>Pay bill via <strong>Mpesa paybill 7777 </strong>  <u>after </u>delivery.<br>
    Account name: <strong>fastfooddelivery</strong></h4>

  <button (click)='navigate()' type="submit" class="btn btn-success">Order Now</button>
  <button type="reset" class="btn btn-danger">Reset</button>

</form>

</div>
<div class="tbagy" id="mimi"><br>
    <h4><u>Guide:<br></u><br>
        <em> For quick order one should be around CBD.Check CBD area.</em></h4>
<iframe width="600" height="450" frameborder="0" style="border:0" zoom="10" src="https://www.google.com/maps/embed/v1/place?q=Nairobi%20&key=AIzaSyDz9_LdRbLratE5FZ0BDyx2U5enKH6UqtY" allowfullscreen></iframe>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>