<div style="text-align: center">

    <h3>Sign in to your account.</h3>
</div>

<div class="container">


<marquee>SIGN IN TO ORDER THE MEAL OF YOUR CHOICE</marquee>

<form>
  <div class="row">
     <label class="col-xs-6">UserName</label>
        <input type="text" class="form-control" required placeholder="UserName">
    </div>
  <div class='row'>
     <label class="col-xs-3"> Password</label>
     <input type="password" class="form-control" ng-model="myInput"required placeholder="password">
   </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" required placeholder> Remember me
    </label>
  </div>
  <button (click)='navigate()' type="submit" class="btn btn-success">Submit</button>
  <button type="reset" class="btn btn-danger">Reset</button>

</form>
</div>
<br><br><br><br><br><br><br><br><br>