<div style="text-align: center">
    
    <h3>Contact Us</h3>
    
    <em>Reach us at anytime for assistance.</em>
<div class="container">
<address>
  <strong>Fast  Food Delivery, ltd.</strong><br>
  1355 Moi Avenue, Suite 777<br>
  Nairobi, KE 01100<br>
  <abbr title="Phone">Tel:</abbr> (+254) 791-425-789
</address>

<address>
  <strong>Email Us</strong><br>
  <a href="https://webmail.au.syrahost.com/login/">fastfooddelivery@gmail.com</a>
</address>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>