
<div style="text-align: center">
    
<h2>FAST FOOD DELIVERY </h2>
  <em><h5>This is one awesome and great rising company that provides fast food delivery to every kind of person regardless of their location which<br> cuts across Nairobi County. We have a large and flexible type of menu containing diiferent types of food from diverse cultures. <br>
      In addition we have highly qualified personell who prepare quality and healthy meals.You only need to order and get your <br>desired meal from us at the quickest time possible.We deliver meals any time of the day at  doorstep.</h5></em>
  
</div>
<div style="text-align: center">
    <div class="bigdog" id="cat">
     <em><h2>Super Menu < > Happy Meals </h2></em>
    <em><h4>We have a variety of meals on our menu,with their costs in ksh.</h4></em>
</div> </div>
<div class="marvin" id="espira">

 
    <div class="dropdown" id="fisi">
  <button class="dropbtn">Salads</button>
  <div class="dropdown-content">
      <ol>Greek Pita Nachos @ksh210</ol>
      <ol>Spicy Carrot @ksh90</ol>
      <ol>Asian Apple Slaw @kskh210</ol>
      <ol>Tomato-Peach @ksh80</ol>
     
        </div>
</div>
       <div class="dropdown" id="fisi">
  <button class="dropbtn">Salads II</button>
  <div class="dropdown-content">
      <ol>Creole Green Beans @ksh125</ol>
      <ol>Herb Salad @ksh 90</ol>
      <ol>Squash & Orzo @ksh140</ol>
      <ol>Masala salad @ksh70</ol>
  </div>
 </div>
     
    <div class="dropdown" id="fisi">
  <button class="dropbtn">Main Course</button>
  <div class="dropdown-content">
      <ol>Fried Chicken @ksh360</ol>
      <ol>Fried Beef @ksh300</ol>
      <ol>Fried Pork @ksh390</ol>
      <ol>Boiled Chicken@ksh250</ol>
      <ol>Boiled Pork @ksh290</ol>
      <ol>Boiled Pork @ksh290</ol>
  </div>
 </div>
     <div class="dropdown" id="fisi">
  <button class="dropbtn">Main Course II</button>
  <div class="dropdown-content">
      <ol>Ugali @ksh60</ol>
      <ol>Rice @ksh100</ol>
      <ol>Chapati @ksh40</ol>
     <ol>Beans @ksh60</ol>
      <ol>Green Grams @ksh100</ol>
      <ol>Meat stew @ksh30</ol>
  </div>
</div>

    <div class="dropdown" id="fisi">
  <button class="dropbtn">Pizza</button>
  <div class="dropdown-content">
      <ol>Pepperoni @ksh1600</ol>
      <ol>Mushrooms @ksh1440</ol>
      <ol>Onions @ksh1390</ol>
       <ol>Sausage @ksh1200</ol>
      <ol>Bacon @ksh1100</ol>
      <ol>Black Olives @ksh1100</ol>
      <ol>Green Pepper @ksh1000</ol>
 
  </div>
</div>
     
    <div class="dropdown" id="fisi">
  <button class="dropbtn">Crackers</button>
  <div class="dropdown-content">
      <ol>Cheese crackers @ksh1600</ol>
      <ol>Sandwich crackers @ksh1440</ol>
      <ol>Classic crackers @ksh1390</ol>
       <ol>Saltines @ksh1200</ol>
      <ol>Wheat crackers @ksh1100</ol>
      <ol>Multigrain crackers @ksh1100</ol>


  </div>
</div>
    
    <div class="dropdown" id="fisi">
  <button class="dropbtn">Snacks</button>
  <div class="dropdown-content">
      <ol>Potato crisps @ksh200</ol>
      <ol>Masala crisps @ksh140</ol>
      <ol>Chilly crisps @ksh130</ol>
       <ol>Crisps @ksh100</ol>
       <ol>Oreo @ksh100</ol>
       <ol>Burger @ksh150</ol>
  </div>
</div>
     <div class="dropdown" id="fisi">
  <button class="dropbtn">Drinks</button>
  <div class="dropdown-content">
      <ol>Monster @ksh165</ol>
      <ol>Yogurt 500ml @ksh130</ol>
      <ol>Yogurt 250ml @ksh90</ol>
      <ol>Afya Multivitamin @ksh60</ol>
      <ol>Afya Passion @ksh60</ol>
      <ol>Afya Mango @ksh60</ol>
      <ol>Afya Citrus @ksh60</ol>
         </div>
    </div>
 <div class="dropdown" id="fisi">
  <button class="dropbtn">Drinks II</button>
  <div class="dropdown-content">
      <ol>Mango Juice @ksh50</ol>
      <ol>Passion Juice @ksh50</ol>
      <ol>Citrus Juice @ksh50</ol>
      <ol>Pineapple Juice @ksh50</ol>
      <ol>Sprite @khs40</ol>
      <ol>Lemon Juice @khs55</ol>
  </div>
</div>
     <div class="dropdown" id="fisi">
  <button class="dropbtn">Fruits</button>
  <div class="dropdown-content">
      <ol>Grapes @ksh50</ol>
     <ol>Apple @ksh40</ol>
      <ol>Orange @ksh30</ol>
      <ol>Mango @ksh20</ol>
      <ol>Dates @ksh190</ol>
      <ol>Guava @ksh30</ol>
  </div>
    </div>
     <div class="dropdown" id="fisi">
  <button class="dropbtn">Vegetables</button>
  <div class="dropdown-content">
      <ol>Cabbage @ksh20</ol>
      <ol>Kale @ksh30</ol>
       <ol>Spinach @ksh40</ol>
       <ol>Cow peas@ksh50</ol>
  </div>
</div>
    
         <br><br>

  <!--  <div id="togmenu" onclick="togmenu()"></div></div>
<nav id="menu">
   <img src=""</nav>
    <ul>
      <li>Salad</li>
    <li>fruits</li>
    
    
    
    </ul>
    </nav>-->
    <div class="trv" id="elsie">
    <img src="../assets/oreo.jpg" width="280" height="200">
    <img src="../assets/salad4.jpeg"  width="280" height="200">
    <img src="../assets/salad.jpeg" width="280" height="200">
    <img src="../assets/salad3.jpeg" width="280" height="200">
    <img src="../assets/pizza.jpg" width="280" height="200">
    <img src="../assets/pizza2.jpg" width="280" height="200">
    <img src="../assets/monster4.jpg" width="280" height="200"> 
    <img src="../assets/salad2.jpeg" width="280" height="200">
     </div>

</div>